# Bot config
# File format:
#   # denotes comments. Every line that starts with # is ignored.
#   key = value
#
#	Key must be a single string.
#	Value can be a string or a list of strings (divided by ',').
#	e.g.:
#	  str_key = some string
#	  str_key_2 = [list, of, strings]
#   Padding spaces and empty lines are ignored.

# Bot nick
nick = ExampleBot

# Bot token
token = token_string_here

# Game roles
roles = [SDVX, IIDX, Pop'n]

# Area roles
areas = [Finland, Japan]

# Admin role name
# If there isn't an admin role, leave empty
admin_role = role_name

# Bot channel name
# The bot only allows commands in private or this channel
bot_channel = bot_channel_name
